##                                                                      Cadenas

In [15]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. 
The highest daylight temperature of the Moon is 127 C."""

text1=text .split('.')
text1

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' \nThe highest daylight temperature of the Moon is 127 C',
 '']

In [16]:
words=["average", "temperature", "distance"]
print(words)

['average', 'temperature', 'distance']

In [18]:
for Frase in text1:
    for Frase1 in words:
        if Frase1 in Frase:
            print(Frase)
            break

On average, the Moon moves 4cm away from the Earth every year

The highest daylight temperature of the Moon is 127 C

In [19]:
for Frase in text1:
    for Frase1 in words:
        if Frase1 in Frase:
            print(Frase.replace('C','Celcius'))
            break

On average, the Moon moves 4cm away from the Earth every year

The highest daylight temperature of the Moon is 127 Celcius

In [ ]:
##                                                                      Formateando Cadenas

In [27]:
name= "Moon"
gravity = 0.00162 # in kms
planet = "Earth"
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

title = f'datos de gravedad sobre {nombre}'

In [28]:
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [29]:
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [30]:
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [31]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [32]:
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2